#help-top {
    position: absolute;
    top: 0px;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
}
#help-bottom {
    position: absolute;
    bottom: 0px;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;    
}
#playground {
    background-color: green;
    position: relative;
}
#duck {
    background-image: url('duck.png');
    position: absolute;
    background-size: 100% 100%;
}
#fox {
    background-image: url('fox.png');
    /* mix-blend-mode: multiply; */
    position: absolute;
    background-size: 100% 100%;
}

#lake {
    position: absolute;
    background-color: blue;
    border: 1px solid black;
    box-sizing: border-box;
}
#hintcircle {
    position: absolute;
    left: 37.5%;
    top: 37.5%;
    width: 25%;
    height: 25%;
    border: 1px dashed grey;
    border-radius: 50%;
    background-color: inherit;
    box-sizing: border-box;
}
#centerpoint {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50;
    border: 1px solid black;
}
#youwon {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 35%;
    bottom: 35%;
    color: glack;
    font-size: 3em;
    text-align: center;    
}